<div class="container-principal">
  <app-header></app-header>
  <mat-sidenav-container id="sidenav-container" #sidenav style="height:92vh;width:100%;">
    <mat-sidenav id="sidenav-content" mode="side" [opened]="sidenavOpened()" [class.mat-elevation-z2]>

      <mat-accordion multi="true">
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>LISTA DE COMANDOS</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <div id="div-actions" *ngFor="let menuAction of menuActions">
              <mat-list-item [matTooltip]="menuAction.description" matTooltipPosition="after" (click)="executeMenuAction(menuAction.id)">
                {{menuAction.id}} - {{menuAction.name}}
              </mat-list-item>
              <mat-divider></mat-divider>
            </div>
          </mat-list>

        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="menuActionsHistory && menuActionsHistory.length > 0" expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>HISTORICO</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <div id="div-actions" *ngFor="let menuActionHistory of menuActionsHistory">
              <mat-list-item [matTooltip]="menuActionHistory.createdAt" matTooltipPosition="after">
                {{menuActionHistory.id}} - {{menuActionHistory.name}}
              </mat-list-item>
              <mat-divider></mat-divider>
            </div>
          </mat-list>

        </mat-expansion-panel>

      </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="div-conteudo" class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>